* {
  border: 1px solid red;
}

body {
  background-color: 36454F;
}

p {
  color: F2EBE3;
}

h1 {
  color: F2EBE3;
}

h2 {
  color: F2EBE3;
}

h3 {
  color: F2EBE3;
}





#button {
    color: royalblue;
}

#button:hover {
    color: yellow;
    cursor: pointer;
}

.image {
 height: 25%;
 width: 25%;
}

.profile {
  height: 25%;
  width: 25%;
}
