.box {
  border: 1px solid red;
}

body {
  background-color: #36454F;
  font-family: Garamond;
}

p, h1, h2, h3 {
  color: #F2EBE3;
}


#header {
  width: 70%;
}

#contact {
  width: 30%;
}


#button {
    color: royalblue;
}

#button:hover {
    color: yellow;
    cursor: pointer;
}

.image {
 height: 25%;
 width: 25%;
}

.profile {
  height: 25%;
  width: 25%;
}


